@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple web app using database with ASP .NET core MVC.</p>
</div>
<div class="container">
    <img class="background-image" src="~/images/tdtu.png" alt="TDTU Image">
</div>

